In [199]:
import pandas as pd

Exercício 2

In [200]:
#Importando os dados para um data frame
df_cronograma = pd.read_excel("cronograma.xlsx")

#tratando os dados, substituindo os valores nulos por 0
df_cronograma.fillna(0, inplace=True)
df_cronograma

   Atividade Responsável    S1    S2    S3    S4  S5    S6    S7    S8
0          1           A  12.0  12.0  12.0  12.0  12  12.0  12.0  12.0
1          2           B   0.0   4.0   4.0   4.0   4   4.0   4.0   4.0
2          3           C   0.0   6.0   6.0   6.0   6   0.0   0.0   0.0
3          4           C   0.0   0.0  12.0  12.0  12  12.0   0.0   0.0
4          5           G   0.0   0.0   0.0   8.0   8   8.0   0.0   0.0
5          6           F   0.0   0.0   0.0  12.0  12  12.0   0.0   0.0
6          7           B   0.0   0.0   0.0   8.0   8   8.0   8.0   0.0
7          8           G   0.0   0.0   0.0  12.0  12  12.0  12.0  12.0
8          9           C   0.0   0.0   0.0   8.0   8   8.0   8.0   8.0
9         10           B   0.0   0.0   0.0   0.0   8   8.0   8.0   8.0

Agora iniciamos a analise dos dados, inicialmente exibindo as horas trabalhadas por semana e em seguida verificando que semana os limites foram excedidos

In [201]:
#Somando a quantidade de horas por semana

horas_semanas = df_cronograma#copiando um dataframe para uma variavel auxiliar
horas_semanas = horas_semanas.drop(columns=["Atividade", "Responsável"]).sum().reset_index()#retirando as colunas desnecessarias para estaá parte da análise
horas_semanas = horas_semanas.rename(columns={"index":"Semanas", 0: "Qtde de horas"})#renomeando as colunas
horas_semanas.transpose()

                  0     1     2     3     4     5     6     7
Semanas          S1    S2    S3    S4    S5    S6    S7    S8
Qtde de horas  12.0  22.0  34.0  82.0  90.0  84.0  52.0  44.0

In [202]:
#Verificando as semanas que excedem a mão de obra

#horas_semanas = horas_semanas.transpose()#fazendo a transposta para trabalhar de acordo com as colunas
horas_excedidas = horas_semanas[horas_semanas["Qtde de horas"]>80]#passando filtro para ver onde o número de horas trabalhadas foimaior que 80

#exibindo o resultado da análise
print("As semanas que excedem o máximo de quantidade de horas de mão de obra são: ")
horas_excedidas

As semanas que excedem o máximo de quantidade de horas de mão de obra são:

                  3     4     5
Semanas          S4    S5    S6
Qtde de horas  82.0  90.0  84.0

Nesta parte da análise, escolhemos um funcionario e verificamos quantas horas o mesmo tem alocado no projeto

In [203]:
#Quantidade de horas de todos os funcionários, alocadas no projeto

juncao_responsaveis = df_cronograma.groupby("Responsável").sum()#somando o total de horas por semana de cada funionário
juncao_responsaveis = juncao_responsaveis.drop(columns=["Atividade"]).sum(axis=1)#retirando a coluna atividade pois o dado neste momento é irrelevante e realizando a soma das horas de cada semana de cada empregado

#configurando a exibição
juncao = juncao_responsaveis.reset_index()#tranformando em um dataframe novamente(puramante estético)
juncao = juncao.rename(columns={0:"Qtde de horas"})#renomeando as colunas pois seus nomes foram retirados com a função reset index

#exibindo
print("total de horas trabalhado por funcionário de todos os funcionários:")
juncao#exibindo dado

total de horas trabalhado por funcionário de todos os funcionários:

  Responsável  Qtde de horas
0           A           96.0
1           B           92.0
2           C          112.0
3           F           36.0
4           G           84.0

In [204]:
#Imprimindo o total de horas trabalhadas de um funcionário específico
try:
  Funcionario = input("Qual funcionário você deseja verificar as horas? ").upper()
  hora_funcionario = juncao_responsaveis[Funcionario]
  print(f"As horas desse funcionário {Funcionario} são: {hora_funcionario}")
except:
  print("Não há horas cadastradas desse funcionário.")

Não há horas cadastradas desse funcionário.

Calculando o total de horas da equipe no projeto

In [205]:
# Horas totais do projeto
horas_semanas

  Semanas  Qtde de horas
0      S1           12.0
1      S2           22.0
2      S3           34.0
3      S4           82.0
4      S5           90.0
5      S6           84.0
6      S7           52.0
7      S8           44.0

In [206]:
# Horas totais do projeto
horas_totais = df_cronograma.drop(columns=["Atividade", "Responsável"]).sum().sum()
print(f"A quantidade total de horas é: {horas_totais}")

A quantidade total de horas é: 420.0

Calculando o custo por funcionário e custo do projeto

In [207]:
#importando a tabela de custos
df_custohora = pd.read_excel("custohora.xlsx")

#tratando o df do cronograma
df_cronograma = df_cronograma.drop(columns=["Atividade"])#retirando a coluna atividade por não ser relevante no momento
df_cronograma = df_cronograma.rename(columns={"Responsável":"Profissional"})#renomeando a coluna para um nome que faça mais sentido
df_cronograma.fillna(0, inplace=True)#tratando os dados nulos
df_cronograma = df_cronograma.groupby("Profissional").sum().sum(axis=1)#agrupando os valores de custo de cada funcionário

df_cronograma = pd.DataFrame(df_cronograma)#tranformando novamete em cronograma para fazer o merge


#unindo as tabelas
custo_profissional = pd.merge(df_cronograma, df_custohora, how = 'inner', on = 'Profissional')#fazendo o merge
custo_profissional = custo_profissional.rename(columns = {0:'Horas'})#renomeando a coluna
custo_profissional["Total"] = custo_profissional["Horas"]*custo_profissional["Custo"]#criando a coluna total e calculando cada valor da mesma

#exibindo os dados
custo_profissional

  Profissional  Horas  Custo    Total
0            A   96.0    180  17280.0
1            B   92.0    120  11040.0
2            C  112.0    100  11200.0
3            F   36.0     80   2880.0
4            G   84.0     80   6720.0

In [208]:
#calculando o custo do projeto
total = sum(custo_profissional.Total)

#exibindo o resultado
print(f"O preço total do projeto é: {total}")

O preço total do projeto é:  49120.0